.top-page-wrapper
  .top-page-wrapper__container
    .top-page-wrapper__container__title
      新しいマッチを見つけよう
    =link_to 'new_user_session_path', class:'top-page-wrapper__container__link btn' do
      メールアドレスでログインする