$main-color: #fd5068;
$main-text-color: #fff;

.user-editpage-wrapper{
    &__header {
        padding: 20px;
        margin-bottom: 40px;
        text-align: center;
        background: $main-color;
        color: $main-text-color;
    }
    &__container{
        padding: 20px;
        &__form-group{
            margin-top: 20px;
        }
        &__text{
            &__btn{
                margin-top: 20px;
                background: $main-color;
                color: $main-text-color;
                width: 200px;
                padding: 10px;
                border-radius: 90px;
                transition: opacity .5s;
                &:hover {
                    opacity: .6;
                }
            }
        }
    }
}